.DS_Store
*remnants
remnants
*~lock*
*.ods#
*__pycache__*
site
logs
build
bycon.egg-info
dist
bycon/beaconServer/local/*
.idea
beaconplusWeb/.next
beaconplusWeb/node_modules
beaconplusWeb/out

*.gz
*.gz
rsrc/mongodump/examplez.tar.gz
*.gz
