.DS_Store
rsrc/remnants
remnants
*~lock*
*.ods#
*__pycache__*
site
build
bycon.egg-info
dist
bycon.egg-info/PKG-INFO
bycon.egg-info/requires.txt
bycon.egg-info/SOURCES.txt
bycon.egg-info/top_level.txt
dist/bycon-1.0.0-py3-none-any.whl
