description: >-
  ...
$defs:
  histologicalDiagnoses:
    id: histologicalDiagnoses
    label: Diagnostic Classes (by NCIT)
    description: >-
      Count of histological diagnoses in matched biosamples
    concepts:
      - scope: biosample
        property: histological_diagnosis.id
        termIds:
          - NCIT:C9335 # Malignant neoplasm of breast
          - NCIT:C4863 # Prostate Carcinoma
          - NCIT:C4908 # Ovarian Carcinoma
          - NCIT:C4024 # Esophageal Squamous Cell Carcinoma
          - NCIT:C4025 # Esophageal Adenocarcinoma
          - NCIT:C4016 # Malignant Bone Neoplasm
          - NCIT:C3493 # Lung Squamous Cell Carcinoma
          - NCIT:C207229 # Pancreatic Carcinoma
          - NCIT:C4911 # Gastric Carcinoma
          - NCIT:C2955 # Colorectal Carcinoma
          - NCIT:C7927 # Liver Carcinoma
          - NCIT:C3058 # Glioblastoma
          - NCIT:C3224 # Melanoma
          - NCIT:C3194 # Liposarcoma
          - NCIT:C4925 # Malignant Germ Cell Tumor
          - NCIT:C27753 # Acute Myeloid Leukemia, Not Otherwise Specified
          - NCIT:C3163 # Chronic Lymphocytic Leukemia
          - NCIT:C3466 # T-Cell Non-Hodgkin Lymphoma
          - NCIT:C3457 # B-Cell Non-Hodgkin Lymphoma
      - scope: biosample
        property: individual_info.sex.id


  cancerTypesBySex:
    id: cancerTypesBySex
    label: Cancer Classes by Sex
    description: >-
      General cancer types by sex
    concepts:
      - scope: biosample
        property: histological_diagnosis.id
      - scope: biosample
        property: individual_info.sex.id

  sampleOriginDetailsBySex:
    id: sampleOriginDetails
    label: Anatomical Origin
    description: >-
      Count of anatomical sites in matched biosamples
    concepts:
      - scope: biosample
        property: sample_origin_detail.id
      - scope: biosample
        property: individual_info.sex.id

  # sampleICDO3histology:
  #   id: sampleICDO3histology
  #   label: ICD-O 3 Histology
  #   description: 
  #     - ICD-O 3 histologies in matched biosamples
  #   concepts:
  #     - scope: biosample
  #       property: icdo_morphology.id

  sampleICDO3histologyBySex:
    id: sampleICDO3histologyBySex
    label: ICD-O 3 Histology by Sex
    description: 
      - ICD-O 3 histologies by sex in matched biosamples
    concepts:
      - scope: biosample
        property: icdo_morphology.id
      - scope: biosample
        property: individual_info.sex.id

  sampleCountries:
    id: sampleCountries
    label: Sample Countries
    label_key: country
    description: >-
      Count of countries of origin in matched biosamples
    concepts:
      - scope: biosample
        property: geo_location.properties.ISO3166alpha3

  ageAtDiagnosis:
    id: ageAtDiagnosis
    label: Age at Diagnosis
    description: >-
      Age at diagnosis
    sorted: True
    concepts:
      - scope: biosample
        property: individual_info.index_disease.onset.age_days
        splits:
          - P0D
          - P18M
          - P18Y
          - P40Y
          - P65Y
          - P80Y
          - P120Y

  followupTime:
    id: followupTime
    label: Follow-up Time
    description: >-
      Follow-up time after diagnosis
    sorted: True
    concepts:
      - scope: biosample
        property: individual_info.index_disease.followup_days
        splits:
          - P0D
          - P6M
          - P1Y
          - P18M
          - P3Y
          - P5Y
          - P10Y
          - P60Y




