description: >-
  ...
$defs:
  histologicalDiagnoses:
    id: histologicalDiagnoses
    label: Diagnostic Classes (by NCIT)
    description: >-
      Count of histological diagnoses in matched biosamples
    concepts:
      - scope: biosample
        property: histological_diagnosis.id
        termIds:
          - NCIT:C9335 # Malignant neoplasm of breast
          - NCIT:C4863 # Prostate Carcinoma
          - NCIT:C9384 # Kidney Carcinoma: 
          - NCIT:C7431 # Malignant Ovarian Neoplasm
          - NCIT:C61574 # Malignant Uterine Corpus Neoplasm
          - NCIT:C9311 # Malignant Cervical Neoplasm
          - NCIT:C3513 # Esophageal Carcinoma
          - NCIT:C35850 # Head and Neck Carcinoma
          - NCIT:C4878 # Lung Carcinoma
          - NCIT:C207229 # Pancreatic Carcinoma
          - NCIT:C4911 # Gastric Carcinoma
          - NCIT:C2955 # Colorectal Carcinoma
          - NCIT:C7927 # Liver Carcinoma
          - NCIT:C4822 # Malignant Glioma
          - NCIT:C3716 # Primitive Neuroectodermal Tumor
          - NCIT:C3224 # Melanoma
          - NCIT:C9118 # Sarcoma
          - NCIT:C4925 # Malignant Germ Cell Tumor
          - NCIT:C27753 # Acute Myeloid Leukemia, Not Otherwise Specified
          - NCIT:C3163 # Chronic Lymphocytic Leukemia
          - NCIT:C3466 # T-Cell Non-Hodgkin Lymphoma
          - NCIT:C3457 # B-Cell Non-Hodgkin Lymphoma
      - scope: biosample
        property: individual_info.sex.id

  platformTechnologies:
    id: platformTechnologies
    label: Platforms
    description: >-
      Count of basic platform technologies used in matched analyses
    concepts:
      - scope: analysis
        property: platform_model.id
        termIds:
          - EFO:0030075 # cDNA microarray
          - EFO:0010938 # large-insert clone DNA microarray
          - EFO:0010939 # oligonucleotide DNA microarray
          - EFO:0010937 # comparative genomic hybridization (CGH)
          - NCIT:C16437 # Chromosome Banding
          - OBI:0002117 # whole genome sequencing assay
          - OBI:0002118 # exome sequencing assay
          - NCIT:C158253  # Targeted Genome Sequencing

  allPlatformTechnologies:
    id: platformTechnologies
    label: Platforms
    description: >-
      Count of basic platform technologies used in matched analyses
    concepts:
      - scope: analysis
        property: platform_model.id

  # cancerTypesBySex:
  #   id: cancerTypesBySex
  #   label: Cancer Classes by Sex
  #   description: >-
  #     General cancer types by sex
  #   concepts:
  #     - scope: biosample
  #       property: histological_diagnosis.id
  #     - scope: biosample
  #       property: individual_info.sex.id

  sampleOriginDetailsBySex:
    id: sampleOriginDetails
    label: Anatomical Origin
    description: >-
      Count of anatomical sites in matched biosamples
    concepts:
      - scope: biosample
        property: sample_origin_detail.id
      - scope: biosample
        property: individual_info.sex.id

  sampleICDO3histologyByAge:
    id: sampleICDO3histologyByAge
    label: ICD-O 3 Histology by Age at Diagnosis
    description: 
      - ICD-O 3 histologies in matched biosamples
    concepts:
      - scope: biosample
        property: icdo_morphology.id
      - scope: biosample
        property: individual_info.index_disease.onset.age_days
        splits:
          - P0D
          - P18Y
          - P65Y
          - P120Y

  sampleICDO3histologyBySex:
    id: sampleICDO3histologyBySex
    label: ICD-O 3 Histology by Sex
    description: 
      - ICD-O 3 histologies by sex in matched biosamples
    concepts:
      - scope: biosample
        property: icdo_morphology.id
      - scope: biosample
        property: individual_info.sex.id

  sampleCountries:
    id: sampleCountries
    label: Sample Countries
    label_key: country
    description: >-
      Count of countries of origin in matched biosamples
    concepts:
      - scope: biosample
        property: geo_location.properties.ISO3166alpha3

  ageAtDiagnosisBySex:
    id: ageAtDiagnosisBySex
    label: Age at Diagnosis by Sex
    description: >-
      Age at diagnosis by sex
    sorted: True
    concepts:
      - scope: biosample
        property: individual_info.index_disease.onset.age_days
        splits:
          - P0D
          - P18M
          - P18Y
          - P40Y
          - P65Y
          - P80Y
          - P120Y
      - scope: biosample
        property: individual_info.sex.id

  followupTime:
    id: followupTime
    label: Follow-up Time
    description: >-
      Follow-up time after diagnosis
    sorted: True
    concepts:
      - scope: biosample
        property: individual_info.index_disease.followup_days
        splits:
          - P0D
          - P6M
          - P1Y
          - P18M
          - P3Y
          - P5Y
          - P10Y
          - P60Y




