description: >-
  ...
$defs:
  histologicalDiagnoses:
    id: histologicalDiagnoses
    label: Histological Diagnoses
    description: >-
      Count of histological diagnoses in matched biosamples
    concepts:
      - biosample.histological_diagnosis.id

  # cancerTypes:
  #   id: cancerTypes
  #   label: Cancer Classes
  #   description: >-
  #     General cancer types
  #   concepts:
  #     - biosample.histological_diagnosis
  #     - biosample.individual_info.index_disease.onset.age_days
  #   selections:
  #     -
  #       - NCIT:C3708
  #       - NCIT:C3224
  #       - NCIT:C2926
  #     - []
  #   limits:
  #     - []
  #     -
  #       - P0D
  #       - P18M
  #       - P18Y
  #       - P40Y
  #       - P65Y
  #       - P80Y
  #       - P120Y

  sampleOriginDetails:
    id: sampleOriginDetails
    label: Anatomical Origin
    description: >-
      Count of anatomical sites in matched biosamples
    concepts:
      - biosample.sample_origin_detail.id

  sampleICDO3histology:
    id: sampleICDO3histology
    label: ICD-O 3 Histology
    description: 
      - ICD-O 3 histologies in matched biosamples
    concepts:
      - biosample.icdo_morphology.id

  sampleICDO3histologyBySex:
    id: sampleICDO3histologyBySex
    label: ICD-O 3 Histology by Sex
    description: 
      - ICD-O 3 histologies by sex in matched biosamples
    concepts:
      - biosample.icdo_morphology.id
      - biosample.individual_info.sex.id

  sampleCountries:
    id: sampleCountries
    label: Sample Countries
    label_key: country
    description: >-
      Count of countries of origin in matched biosamples
    concepts:
      - biosample.geo_location.properties.ISO3166alpha3

  ageAtDiagnosis:
    id: ageAtDiagnosis
    label: Age at Diagnosis
    description: >-
      Age at diagnosis
    sorted: True
    concepts:
      - biosample.individual_info.index_disease.onset.age_days
    splits:
      -
        - P0D
        - P18M
        - P18Y
        - P40Y
        - P65Y
        - P80Y
        - P120Y

  followupTime:
    id: followupTime
    label: Follow-up Time
    description: >-
      Follow-up time after diagnosis
    sorted: True
    concepts:
      - biosample.individual_info.index_disease.followup_days
    splits:
      -
        - P0D
        - P6M
        - P1Y
        - P18M
        - P3Y
        - P5Y
        - P10Y
        - P120Y




