################################################################################
# byconServices modules & their path values
# the keys correspond to the names of byconServices modules
################################################################################

byconschemas:
  request_entity_path_aliases:
    - schemas
  request_entity_path_id: byconschemas
  path_id_value_bycon_parameter: id

cnvstats:
  request_entity_path_id: cnvstats
  request_entity_id: analysis
  response_entity_id: analysis
  response_entity_path_id: analyses
  collection: analyses
  response_schema: beaconResultsetsResponse
  beacon_schema:
    entity_type: analysis
    schema: https://progenetix.org/services/schemas/analysis/
  path_id_value_bycon_parameter: analysis_id

collationplots:
  request_entity_path_id: collationplots
  request_entity_id: collation
  request_entity_path_aliases:
    - collationPlots
  beacon_schema:
    entity_type: SVG
    schema: NA
  path_id_value_bycon_parameter: filters

collations:
  request_entity_path_id: collations
  request_entity_id: collation
  response_entity_id: collation
  collection: collations
  request_entity_path_aliases:
    - collations
  response_schema: byconautServiceResponse
  beacon_schema:
    entity_type: Collation
    schema: https://progenetix.org/services/schemas/Collation/
  path_id_value_bycon_parameter: filters

cytomapper:
  request_entity_path_id: cytomapper
  beacon_schema:
    entity_type: cytobandMapping
    schema: https://progenetix.org/services/schemas/CytobandMapping/
  path_id_value_bycon_parameter: cyto_bands

dbstats:
  request_entity_path_id: dbstats
  beacon_schema:
    entity_type: dbstats
    schema: https://progenetix.org/services/schemas/DBstats/
  path_id_value_bycon_parameter: dataset_ids

endpoints:
  request_entity_path_id: endpoints

genespans:
  request_entity_path_id: genespans
  request_entity_path_aliases:
    - genes
  response_entity_id: gene
  collection: genes
  response_schema: beaconCollectionsResponse
  beacon_schema:
    entity_type: gene
    schema: https://progenetix.org/services/schemas/ProgenetixGene/
  path_id_value_bycon_parameter: gene_ids

geolocations:
  request_entity_path_id: geolocations
  request_entity_path_aliases:
    - geolocs
    - geoLocations
  response_entity_id: geoLocation
  collection: geolocs
  response_schema: beaconCollectionsResponse
  beacon_schema:
    entity_type: GeoLocation
    schema: https://progenetix.org/services/schemas/GeoLocation/
  path_id_value_bycon_parameter: gene_ids

ids:
  request_entity_path_id: ids
  path_id_value_bycon_parameter: id

intervalFrequencies:
  request_entity_path_id: intervalFrequencies
  request_entity_path_aliases:
    - interval_frequencies
  response_entity_id: intervalFrequencies
  collection: collations
  response_schema: beaconCollectionsResponse
  beacon_schema:
    entity_type: intervalFrequencies
    schema: https://progenetix.org/services/schemas/IntervalFrequencies/
  path_id_value_bycon_parameter: filters

ontologymaps:
  request_entity_id: ontologymaps
  response_entity_id: ontologymaps
  request_entity_path_id: ontologymaps
  request_entity_path_aliases:
    - ontologymaps
    - ontologyMaps
  path_id_value_bycon_parameter: filters

pgxsegvariants:
  request_entity_path_id: pgxsegvariants
  request_entity_id: biosample
  response_entity_id: genomicVariant
  response_entity_path_id: genomicVariations
  response_schema: beaconResultsetsResponse
  request_entity_path_aliases:
    - pgxseg
  # TODO: change? a bit non-standard... 
  path_id_value_bycon_parameter: biosample_ids

publications:
  request_entity_path_id: publications
  response_entity_id: publication
  collection: publications
  response_schema: beaconCollectionsResponse
  beacon_schema:
    entity_type: intervalFrequencies
    schema: https://progenetix.org/services/schemas/Publication/
  path_id_value_bycon_parameter: filters

samplemap:
  request_entity_path_id: samplemap
  request_entity_id: biosample
  response_entity_id: biosample
  response_entity_path_id: biosamples
  collection: biosamples
  response_schema: beaconResultsetsResponse
  path_id_value_bycon_parameter: biosample_ids

samplematrix:
  request_entity_path_id: samplematrix
  request_entity_id: biosample
  response_entity_id: biosample
  collection: biosamples
  response_schema: beaconResultsetsResponse
  path_id_value_bycon_parameter: biosample_ids

sampletable:
  request_entity_path_id: sampletable
  request_entity_id: biosample
  response_entity_id: biosample
  collection: biosamples
  response_schema: beaconResultsetsResponse
  path_id_value_bycon_parameter: biosample_ids

sampleplots:
  request_entity_path_id: sampleplots
  request_entity_id: biosample
  response_entity_id: biosample
  request_entity_path_aliases:
    - samplesPlotter
  beacon_schema:
    entity_type: SVG
    schema: NA
  path_id_value_bycon_parameter: biosample_ids

uploader:
  request_entity_path_id: uploader

variantsbedfile:
  request_entity_path_id: variantsbedfile
  request_entity_id: genomicVariant
  collection: variants
  response_schema: beaconResultsetsResponse
  response_entity_id: genomicVariant
  beacon_schema:
    entity_type: BED
    schema: https://samtools.github.io/hts-specs/BEDv1.pdf
  path_id_value_bycon_parameter: biosample_ids

vcfvariants:
  request_entity_path_id: vcfvariants
  request_entity_id: biosample  # currently not parsed
  request_entity_path_aliases:
    - vcf
  response_entity_id: genomicVariant
  collection: variants
  response_schema: beaconResultsetsResponse
  h->o_access_key: variants._id
  beacon_schema:
    entity_type: VCF
    schema: https://samtools.github.io/hts-specs/VCFv4.4.pdf
  path_id_value_bycon_parameter: biosample_ids

